{{#partial page}}
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ article.title }}</h4>
                <h5>
                    <small>
                        <a href="/user/{{ article.user.id }}">{{ article.user.username }}</a>
                        •
                        <a href="/category/{{ article.category.value}}">{{article.category.title}}</a>
                        •
                        {{ article.create_time}}
                    </small>
                </h5>
            </div>
            <div class="panel-body">
                {{{ article.content }}}
            </div>
        </div>
      </div>
      <div class="col-md-3">
          {{#if login_user}}
              {{~> new_article_btn ~}}
          {{/if}}
      </div>
    </div>
  </div>
{{/partial}}
{{#partial footer_js}}
    <script>
    </script>
{{/partial}}
{{~> base~}}
